* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #415a77;
    text-align: center;

}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    background-color: #ffffc7;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #b0413e;
}

#resetbtn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #FFF;
    border-radius: 1rem;
}

.msg-container {
    font-size: 3rem;
    height: 18vmin;
    color: crimson;
}

.msgcontainer  #msg {
    font-family: "Poetsen One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: #191913;
    font-size: 6vmin;
}



#newbtn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #FFF;
    border-radius: 1rem;
}

.hide{
    display: none;
}